<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_id</key>
	<string>f8a5ab80</string>
	<key>app_key</key>
	<string>2f197fb8d0d4d4b720ddd00d89523c43</string>
</dict>
</plist>
